extends layout

block js 

block content 
    form(method="POST")
        input(placeholder='아이디 또는 이메일', name='id' )
        input(placeholder='비밀번호', name='password')
        input(type="submit", value="로그인")
