extends layout

block content 
    div.topContent
        header my배민
    img.banner(src='banner.png')
    div.profile
        img(src='user.png')
        p.message 로그인해주세요.
        button.login-ic-btn 
    nav.nav-container
        ol
            li
                button 포인트
                p 포인트
            li
                button 포인트
                p 포인트
            li
                button 포인트
                p 포인트
            li
                button 포인트
                p 포인트
            li
                button 포인트
                p 포인트
            li
                button 포인트
                p 포인트
        
        
    button 로그인