extends layout
block css
    link(rel='styleSheet', href='/userInfo.css', type='text/css')
block js 
    script.
        function checkDuplication(){
            const $detailForm = document.querySelector(".detail-form");
                $detailForm.style.display= 'flex'
        }

block content
    div.top-content
        img(src='/arrow-left.png')
        header 회원가입
        button(type='submit', form='detail-form') 완료
    div.main-content
        section.userInfo-container
            form#detail-form(method='POST', action='/signup')
                div.email-form
                    label 이메일
                        input(type='email', name='email')
                        img.close-ic(src='/close-circle.png')
                        img.check-ic(src='/check-inactive.png')
                    button(onclick='checkDuplication()', type='button') 중복확인
                div.detail-form
                    label 닉네임
                        input(type='text',name='nickname')
                        img.check-ic(src='/check-inactive.png')
                    label 비밀번호
                        input(type='password', name='password')
                        img.check-ic(src='/check-inactive.png')
                    label 생년월일
                        input(type='text',placeholder='예) 2000.01.01', name='birthday')
                        img.check-ic(src='/check-inactive.png')